
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1537595774239') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-camera:before { content: "\e608"; }

.icon-close:before { content: "\e69a"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-help:before { content: "\e6a3"; }

.icon-add:before { content: "\e661"; }

.icon-link:before { content: "\e6f7"; }

.icon-tishifill:before { content: "\e72a"; }

.icon-tishi:before { content: "\e72b"; }

.icon-wenhao:before { content: "\e72d"; }

.icon-originalimage:before { content: "\e806"; }

.icon-check-circle:before { content: "\e77d"; }

.icon-left-circle:before { content: "\e77f"; }

.icon-down-circle:before { content: "\e780"; }

.icon-right-circle:before { content: "\e783"; }

.icon-right:before { content: "\e7eb"; }

.icon-left:before { content: "\e7ec"; }

.icon-left-circle-fill:before { content: "\e844"; }

.icon-down-circle-fill:before { content: "\e845"; }

.icon-up-circle-fill:before { content: "\e846"; }

.icon-right-circle-fill:before { content: "\e847"; }

.icon-daoru:before { content: "\e610"; }


